@import url("https://fonts.googleapis.com/css2?family=Montserrat");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background: hsl(174, 18%, 11%);

	background: linear-gradient(
		0deg,
		hsla(174, 19%, 11%, 1) 0%,
		hsla(174, 19%, 11%, 1) 100%
	);

	background: -moz-linear-gradient(
		0deg,
		hsla(174, 19%, 11%, 1) 0%,
		hsla(174, 19%, 11%, 1) 100%
	);

	background: -webkit-linear-gradient(
		0deg,
		hsla(174, 19%, 11%, 1) 0%,
		hsla(174, 19%, 11%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#16201F", endColorstr="#16201F", GradientType=1 );
	font-family: "Montserrat", sans-serif;
}

.words-animation {
	border: 0px solid #ddd;
	height: 100px;
	line-height: 100px;
	font-size: 96px;
	overflow: hidden;
}

.words-animation span {
	position: relative;
	animation: flipUp 5s ease infinite;
}

@keyframes flipUp {
	0%,
	100% {
		top: 0;
	}
	25% {
		top: -100px;
	}
	50% {
		top: -100px;
	}
	75% {
		top: 0;
	}
}
