@import url("https://fonts.googleapis.com/css2?family=Montserrat");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: #0a0a0a;
	font-family: "Montserrat", sans-serif;
}

.words-animation {
	border: 0px solid #ddd;
	height: 100px;
	line-height: 100px;
	font-size: 96px;
	overflow: hidden;
}

.words-animation span {
	position: relative;
	animation: flipUp 5s ease infinite;
}

@keyframes flipUp {
	0%,
	100% {
		top: 0;
	}
	25% {
		top: -100px;
	}
	50% {
		top: -100px;
	}
	75% {
		top: 0;
	}
}
